<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <dataProviders>
      <main type="Sitecore.Support.Data.$(database).$(database)DataProvider, Sitecore.Support.255632" patch:instead="*[@type='Sitecore.Data.$(database).$(database)DataProvider, Sitecore.Kernel']">
        <param connectionStringName="$(1)" />
        <Name>$(1)</Name>
      </main>
    </dataProviders>
  </sitecore>
</configuration>